<div class="expanded_post">
<div class="post_text">
<div class="post_traffic">
<div class="metadata">
<p>Post 1 by #<%= @current_user.name%></p>
<p>Like: <%= @focused_post[0].likes_counter%>, Comment: <%= @focused_post[0].comment_counter%></p>
</div>

<p><%= @focused_post[0].text %></p>
</div>
</div>