 <section class="post_container">
      <div>
      <p class="post_number">Post #1</p>
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        consequuntur nostrum, perferendis tempore omnis hic repudiandae repellat
        aperiam quae minus explicabo accusantium temporibus culpa earum dolorem
        esse maiores, natus cumque?
      </div>
      <div class="comments_likes">
        <p>Comments: X Likes: y</p>
      </div>
    </section>