<%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
<section class="comment_wrapper">
<%= render '/posts/shared/expandedpost' %>
</section>

<%= link_to "Create New Comment", new_author_post_comment_path(post_id: params[:id]), class: "new_post" %>
